logout: "Logout"
signUp: "Registration"
login: "Login"
homepage: "Homepage"
newArticles: "New articles"
categoriesManage: "Categories manage"
usersManage: "Users manage"
myArticles: "My articles"
createArticle: "Add article"
settings: "Settings"
categoriesList: "All articles"