youHaveNoPermissionsToReleaseArticles: "Nemáš práva ke schvalování článků"
articleDoesntExist: "Takový článek neexistuje"
youHaveNoPermissionsToCreateCategories: "Nemáš práva na vytváření kategorií"
articleCategoryDoesntExist: "Taková kategorie neexistuje"
youFilledBadNameOrPassword: "Zadal jsi špatně jméno nebo heslo"
userDoesntExist: "Takový uživatel neexistuje"
youHaveNoPermissionsToEditCategory: "Nemáš práva na úpravu kategorie"