youWereLoggedOut: "You were logged out"
user: "User"
category: "Category"
title: "Title"
detail: "Detail"
author: "Author"
noListed: "No listed"
name: "Name"
delete: "Delete"
edit: "Edit"
yes: "Yes"
no: "No"
content: "Content"
role: "Role"
admin: "Administrator"
userNameBadFormat: "User name has a bad format"
loggedAs: "Logged as"
editUser: "Edit user"
email: "E-mail"
userName: "User name"
description: "Description"
detailInAdminSite: "Detail in administration"
readEntire: "Read entire"