youWereLoggedOut: "Byl jsi odhlášen"
user: "Uživatel"
category: "Kategorie"
title: "Titulek"
detail: "Detail"
author: "Autor"
noListed: "Nezařazeno"
name: "Název"
delete: "Smazat"
edit: "Upravit"
yes: "Ano"
no: "Ne"
content: "Obsah"
role: "Oprávnění"
admin: "Administrátor"
userNameBadFormat: "Jméno je ve špatném formátu"
loggedAs: "Přihlášen jako"
editUser: "Upravit uživatele"
email: "E-mail"
userName: "Jméno"
description: "Popis"
detailInAdminSite: "Detail v administraci"
readEntire: "Přečíst celý"